.card-product .titlebody {
  background: #fff;
  font-family: "Roboto",Helvetica,Arial,sans-serif;
  font-weight: 500;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6{
	color: #0a2d4b;
}

h1,
h1 a,
h1 a:hover {
  font-size: 1.6rem;
}

h2,
h2 a,
h2 a:hover {
  font-size: 1.5rem;
}

h3,
h3 a,
h3 a:hover {
  font-size: 1.4rem;
}
button, select, input{
	border: none;
	border-color: transparent;
	background-color: transparent;
}
header{
	
}
.breadcrumbs {
  background: transparent;
	margin-bottom: 30px;
}

a {
  color: #0a2d4b;
}

a:hover {
  color: #0a2d4b;
  text-decoration: none;
}

p {
  margin-bottom: .7rem;
}

/*--------header-------------------------------------------------------------------*/
header{
	
}
.bg-light2{
/*	background-color: #f7f7f7 !important;*/
    padding: 2rem 1rem;
}
.navbar-brand{
	margin: 0;
	width: 65%;
    text-align: center;
}
.dropdown-toggle::after {
	display: none;
}
.fa-bars, .fa-search, .fa-user, .fa-shopping-cart{
	color: #999;
	font-size: 1.5rem;
}
.icontext .text-wrap{
	line-height: 1.5;
    padding-left: 0;
}
.notify {
    top: -21px;
    left: 22px;
	right: unset;
}
.dropdown-menu.search-form{
	border: none;
	border-radius: 0;
	width: 100%;
	margin: 0;
	padding: 5rem 0;	
}
.invisible {
  opacity: 0;
}

/*--------/header-------------------------------------------------------------------*/
/*--------vamshop_menu_panel-------------------------------------------------------*/
.read-more{
	color: #999;
    padding: 55px 0;
    text-align: center;
    font-size: 1.5rem;
/*    background-color: #f6f6f6;*/
}
.modal-content{
	z-index: 999;

}
.modal-city{
	display: block;
    color: #ededed;
    background: transparent;
    position: absolute;
    right: 25%;
    top: 7%;
    cursor: pointer;
    z-index: 99;
}

a.modal-city:hover{
	color: #999;
}
.userCity{
	padding-left: 25px;
	font-weight: 600;
    letter-spacing: 1px;
}
.modal-open .modal {
    background-color: rgba(0,0,0,0.5);
}
.modal-title{
	font-size: 30px;
    line-height: 1.2;
    padding: 10px 0;
    margin: auto;
	color: #777;
}
.modal-header .close {
	margin: 0;
	padding: 0;
	
}
.modal-body label{
    position: absolute;
    margin: 0;
    left: 0;
    right: 0;
    bottom: 20px;
    text-align: center;
    color: #e7e7e7;
}
.modal-header, .modal-footer{
	border: none;
}
.ui-widget-content {
    border: none;
    background: transparent;
}
.ui-widget{
	display: block!important;
    text-align: center;
}
#vamshop-city{
    padding: 5px 0;
    color: #999;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #999;
}

.modal-content input:active, .modal-content input:focus{
    border: none;
    border-bottom: 1px solid;	
}
.modal-footer{
    padding: 20px 0 40px;
}
.modal-footer .btn-default{
	display: none;
}
.modal-footer .btn-warning{
    text-decoration: none;
    margin: auto;
    cursor: pointer;
    vertical-align: middle;
    line-height: 1;
    background-color: transparent;
    border: 1px solid #999;
    color: #999;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
	border-radius: .3rem;
    font-size: 12px;
    padding: 15px 54px;
}
   input::-webkit-input-placeholder {color: #e7e7e7;} 
   input::-moz-placeholder {color: #e7e7e7; }
    input:-ms-input-placeholder { color: #e7e7e7; }
   input::-ms-input-placeholder { color: #e7e7e7; }
   input::placeholder { color: #e7e7e7; } 
.menu_panel_info{
	font-weight: 600;
    color: #0a2d4b;
}
.menu_panel_phone{
	position: absolute;
    top: 7%;
    left: 7%;
}
.footer-address{
	position: absolute;
    bottom: 7%;
    left: 7%;	
}
.contact_us{
	position: absolute;
    bottom: 11%;
    left: 7%;
}
.menu_panel_dop{
	list-style: none;
	margin-top: 283px;
}
.menu_panel_dop li a{	
	font-size: 18px;
    text-transform: uppercase;
	color: #ededed;
    line-height: 1.8rem;
    text-align: left;
	margin-bottom: .7rem;
    display: block;
}
/*--------/vamshop_menu_panel------------------------------------------------------*/
/* Remove outline */
button:focus, button:active, a, a:hover {
   outline: none;
}

/* /Remove outline */

/* Owl Nav */
.owl-theme .owl-nav [class*=owl-]:hover {
    background: #fff;
    color: #000;
	opacity: .5;
    text-decoration: none;
}
.owl-prev, .owl-next,
.owl-prev.disabled, .owl-next.disabled {
  z-index: 9;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  position: absolute; }

.owl-prev, .owl-prev.disabled {
  left: 0px;
  }

.owl-next, .owl-next.disabled {
  right: 0px;
  }

.owl-theme .owl-nav {
  margin-top: 0;
}
  
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next.disabled, .owl-carousel .owl-nav button.owl-prev.disabled {
    padding: 5px 10px !important;
    margin: -1em -150px 0 -150px;
	color: #999;
/*
    border-radius: 50%;
    border: 1px solid #dadada;
    color: #1e1e1e;
    box-shadow: -1px 0px 3px #dadada;
    background: #eee;
*/
}
.fa-1x {
    font-size: 2em;
}
/* /Owl Nav */

/* preloading images */
.owl-item.loading{
	background: #fff url('../img/ajax-loader.gif') center center no-repeat; 
}

/* Owl Slides Equal Height */
.owl-stage {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  padding-right: 0;
  padding-left: 0;
  padding-bottom: 1em;
}

.owl-carousel .owl-stage-outer {
}

.owl-item img {
  margin: 0 auto !important;
  width: auto !important;
}	
.bg-grey{
background: #f7f7f7;
}
.card-product {
  width: 100%;
  margin-bottom: 1em;
}
.card-product .card-body .title {
	font-size: 16px;
    padding: 0 18px;
    line-height: 1.5em;
}

.card-product .price-wrap{
	color: #999;
}
.card-product .bottom-wrap {
    border-top: 0;
}
.slider-height{
	height: auto!important;
}

.slider-kafa {
    background-image: url(/images/banner/slider_kafa2.jpg);
    background-size: cover;
    width: 1920;
    height: 700px;
}


/* /Owl Slides Equal Height */

/* Slick Slider */
.slick-track {
  margin-left: 0;
}
/* /Slick Slider */

/* Lazy Load */
/*
.lazy.loading { 
  background: #fff url('../img/ajax-loader.gif') center center no-repeat; 
}
*/
.lazy {
 /*opacity: 0;*/
 transition: opacity 400ms ease-in; 
}

.lazy[src^=""], .lazy:not([src]) {
  max-height: 0; 
}
 
.lazy {
  transform-style: preserve-3d; 
}

img.lazy:not([src]) {
  visibility: hidden;
}

/* /Lazy Load */

/* Main */
.mainWrapper {
    padding-bottom: 1rem; 
    padding-left: 0px;
    padding-right: 0px;
    display: block;
    background: transparent;
    border-radius: 0;
	min-height: 540px;
}

.card-deck .card {
  margin-left: 0;
}

.card-footer {
  background: transparent;
  border-top: 0px;
  padding: .4em;
}

.category.card-body {
  padding-bottom: 0;
}
.category .title{
	font-size: 20px;
	margin-top: 15px;
	
}
.category .title:hover{
	text-decoration: none;
	-webkit-transition: opacity .2s;
    transition: opacity .2s;
    opacity: .7;
}
.card-body {
  padding: .4em;
}

.card.card-product .card-footer {
}
.card-footer .input-group{
	float: left;
    min-width: 105px;
    width: 100px;
}
.card-deck {
  padding-left: 0px;
  padding-right: 0px;
}

.card-deck .col-12,
.card-deck .col-sm-6,
.card-deck .col-md-4,
.card-deck .col-lg-4,
.card-deck .col.xl-3 {
  padding-bottom: 20px;
}

@media (max-width: 576px) {
.card-deck {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    margin-right: -15px;
    margin-left: -15px;
}
}

.card-product {
/*    -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
    box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);*/
    -webkit-transition: .5s;
    transition: .5s;
	box-shadow: none;
}

.card-product:hover {
/*
    -webkit-box-shadow: 0 0 0 1px rgba(13,35,67,.07), 0 5px 15px -4px rgba(13,35,67,.4);
    box-shadow: 0 0 0 1px rgba(13,35,67,.07), 0 5px 15px -4px rgba(13,35,67,.4);
    -webkit-transition: .5s;
    transition: .5s;
*/
	box-shadow: none;	
}

.card.card-product:hover .img-wrap img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;  
}

.card.card-product .img-wrap img {
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.card.card-product .info-wrap {
  padding: 0;
}
.card.card-product .info-wrap .text-secondary,
.card.card-product .info-wrap div{
    color: #999 !important;

}
.card.card-product .info-wrap .price-wrap{
	margin-bottom: 15px;	
}
.card.card-product .info-wrap span{
	font-size: 90%;
}
.card-product {
  width: 100%;
  margin-bottom: 1em;
}

.card-product .bottom-wrap {
    border-top: 0;
}
.navigation-page{
	text-align: center;
    display: block;
    padding: 10px 0;
    margin-top: 60px;
    max-height: 59px;
    white-space: nowrap;
}
.navigation-page b{
    padding: 10px 15px;
    background: #0a2d4b;
    color: #fff;
}
.navigation-page a{
	    padding: 10px 15px;
}
.navigation-all-product {
    text-align: center;
    display: block;
    padding: 10px 0;
    font-size: 75%;
	color: #999;
}
.owl-carousel .card-product .card-body .img-wrap img {
    max-height: 85%;
	max-width: 85%;
}
/* /Main */


/* Star Rating */
.rating {
  background-color: transparent;
  color: #cd2630;
  right: 0;
  padding: 0 1px 0 0;
  font-size: 14px;
  text-align: center;
}
.label-rating {
    line-height: 1;
}
/* /Star Rating */


/* Scroll To Top */
a#scrollup {
  bottom: 50px;
  right: 30px;
  padding: 5px 10px;
  background: #cd2630;
  color: #fff;
}

a#scrollup i{
  font-size: 16px;
}

a#scrollup:hover {
  background: #e62043;
}	

/* /Scroll To Top */

.dropdown-menu.cart {
  min-width: 300px; 
  margin: 1em 0 0 0;
  position: absolute; 
  right: 0; /* Открывать корзину вправо */ 
  left: auto; /* Открывать корзину влево */   
}
.cart-empty{
	margin: 60px 0;
    color: #999;
    font-size: 20px;
}
@media (max-width: 992px) {
.dropdown-menu.cart {
  min-width: 300px; 
  margin: 1em 0 0 0;
  position: absolute; 
  right: auto; /* Открывать корзину вправо */ 
  left: 0; /* Открывать корзину влево */   
}
}
.btn:focus,.btn.focus {
    box-shadow: none!important;
}
.btn-group-xs > .btn, .btn-xs {
    padding  : .25rem .4rem;
    font-size  : .875rem;
    line-height  : .5;
    border-radius : .75rem;
}

/* Products Gallery */
.gallery-wrap .img-small-wrap .item-gallery {
  border: 0px !important;
}

.card-product .img-wrap {
  height: auto;
  /*min-height: 30vh;*/
}
/* /Products Gallery */


/* Products Filter Collapse On Mobile */
@media (min-width: 1200px) {
  .collapse.dont-collapse-sm {
    display: block;
    height: auto !important;
    visibility: visible;
  }
}
/* /Products Filter Collapse On Mobile */


/* Nav Buttons Margin On Mobile */
@media (max-width: 992px) {
.nav-item .btn {
    margin: 7px 0 !important;
}
}
/* /Nav Buttons Margin On Mobile */

/* Tabs */
.nav-tabs {
    margin: 0 0 2.5rem 0;
}
.nav-tabs .nav-link {
    display: block;
    padding: .4rem 2rem;
	font-size: 1.5rem;
    color: #999;
	font-weight: 600;
    border: 2px solid #fff;
	 opacity: 1;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(to right, #0a2d4b, #0a2d4b 50%, rgba(0,0,0,.5) 50%);
    background-size: 200% 100%;
    background-position: 100%;
    transition: all 2s cubic-bezier(0.19, 1, 0.22, 1)
}

.nav-tabs .nav-link.active,.nav-tabs .nav-item.show .nav-link{
    color: #0a2d4b;
    border: 2px solid #fff;
	border-color:#fff;
}
.nav-tabs .nav-link.active,.nav-tabs .nav-item.show .nav-link{
	background-position: 0%;
}

.nav-item {
/*
    padding-right: .5em;
    padding-bottom: .5em;
*/
}
.nav-tabs .nav-item {
    text-align: center;
    display: inline-block;
}
/*.nav-tabs .nav-item.active .nav-link, */
.nav-tabs .nav-link:hover, 
.nav-tabs .nav-link:focus {
/*
    color: #fff;
    border-color: #0a2d4b;
    cursor: pointer;
    background: #0a2d4b;   
	-webkit-transition: opacity .2s;
    transition: opacity .2s;
    opacity: .7;
*/
	background-position: 0%;
	box-shadow: none;
	border-color:#fff;
		
}

.tab-pane {
/*
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 1rem;
  -webkit-box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);
  box-shadow: 0 3px 5px 0 rgba(0,0,0,.1);	
*/
  background: #fff;
  padding: .5em;

}
.tab-pane .module{
	    padding: 30px 0;
}
.tab-pane .module p{
	    padding: 30px 0;
}
.tab-pane .btn.btn-inverse{
	float: none;
	margin: 0;
}

.tab-content {
  margin-bottom: 1em;
}
.box-oplata, .box-dostavka, .box-dostavka2{
    color: #999 !important;
}
.head-oplata, .head-dostavka{
    display: inline-block;
    border-bottom: 1px solid;
    font-weight: 700;
}
.text-dostavka-bold{
    font-weight: 700;	
}
/* /Tabs */

li.level2 {
  padding: .5rem 0 0 0;
}
li.level3 {
  padding: .75rem 0 0 0;
}

.container {
}

@media (min-width: 768px) {
.container {
    max-width: 100%;
}
}
@media (min-width: 576px) {
.container {
    max-width: 100%;
}
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1360px;
  }
}

.header-logo {
  background: #f8f8f8;
}

.header-logo a {
  color: #575757;
}

.input-group.product-info .input-group-append .btn {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}
.btn-primary {
    color: #fff;
    background-color: #0a2d4b;
    border-color: #0a2d4b;
}
.cart-rating {
  display: inline;
  padding-left: 0em;
  color:#0a2d4b;
	vertical-align:baseline;
}

.rating-wrap {
  padding-bottom: 0em; 
  display: inline-block;
  vertical-align: text-bottom;
}

.rounded-pill {
  border-radius: 1.5rem !important;
}

.card {
  border-radius: 1rem;
}

.card-footer:last-child {
  border-radius: 1rem;
}
.card {
    border: 1px solid transparent;
}
.card.card-product .carousel-control-prev span,
.card.card-product .carousel-control-next span {
    padding: 9px 10px !important;
    margin: 0;
    border-radius: 50%;
    border: 1px solid #dadada;
    color: #000;
    box-shadow: -1px 0px 3px #dadada;
    background: #eee;	
}

.card.card-product .carousel-control-prev span:hover,
.card.card-product .carousel-control-next span:hover {
    outline: none;
    color: #494f4d;
    background: #e0e0e0;
}

.card.card-product .carousel-indicators li {
    background-color: #575757;
}

.text-muted,
.address {
    color: #999 !important;
}
.model-wrap{
	display: inline-block;
	margin-right: 40px;
}
.model-wrap, .time-wrap{
	font-size: .87rem;
}
.text-muted a{
	color:#999;
}
.ProductInfoCenter{
	color: #999;
}
#description{
	color: #999;
}
.tags-line span{
	vertical-align: middle;
}
.tags-line ul li{
	padding:0 .5rem;
}
.tags-line ul li a{
	word-wrap: break-word;
    background-position: right bottom, right bottom;
    background-repeat: no-repeat, no-repeat;
    background-size: 0 1px, 100% 1px;
    background-image: linear-gradient(to top, #000 0px, #000 0px),linear-gradient(to top, rgba(0,0,0,0.1) 0px, rgba(0,0,0,0.1) 0px);
    transition: none 300ms ease-in-out;
    transition-property: background-size,color;
	padding-bottom: .3rem;
}
.tags-line ul li a:hover{
	background-position: left bottom, left bottom;
    background-size: 100% 1px, 100% 1px;	
}
.tags-word{
	color: #999;

}
.btn-outline-primary {
    color: #0051A8;
    border-color: #0051A8;
}

.btn-secondary,
.badge-secondary {
  /* background: rgba(0,0,0,.03); */
  border-color: #dee2e6 !important;
  color: #999;
  background:#fff;
}
#footer{
background-color: #031b30!important;
}
.bg-secondary{
background-color: #0a2d4b !important;
}
.btn-secondary:hover,
.btn-secondary:active{
	color: #fff;
    background-color: #0a2d4b!important;
    border-color: #0a2d4b!important;
/*	border: none!important;*/
	border-color: transparent!important;
	box-shadow: none!important;

}
.btn-sort-link{
	color: #999;
    border-radius: 0;
	border-bottom: 1px solid #ccc;	
}
.sort-link .dropdown-menu{
	border: none;
	margin: 0;
	color: #999;    
	border-top: 1px solid #ccc;
	margin-top: -1px;
}
.sort-link .dropdown-item{
	color: #999;
}
.sort-link .dropdown-item.active, .sort-link .dropdown-item:active {
    color: #0a2d4b;
    text-decoration: none;
    background-color: #fff;
	border-left: 1px solid #0a2d4b;	
}
.sort-link .dropdown-item:hover, .sort-link .dropdown-item:focus {
    color: #0a2d4b;
    text-decoration: none;
    background-color: #fff;

}


.btn-outline-secondary {
  background: rgba(0,0,0,.03);
  border-color: #ccc !important;
}

.btn-outline-secondary:hover {
  color: #0051A8;
  background: #c8c8c8;
}

.btn-group .btn-secondary.active {
    color: #fff;
    background-color: #0a2d4b !important;
    border-color: #0a2d4b !important;
}

.module,
.mainContent {
  padding: 0;
/*  margin: 0 0 .5em 0;*/
  background-color: transprent;
  border: 0px solid rgba(0,0,0,.125);
  border-radius: .25rem;
  /*box-shadow: 0 4px 15px rgba(153,153,153,.3);*/
  transition: .5s;
	
}

.module h3{
    font-size: 1.5rem;
	text-align: center;
	padding: 3rem 0;
}
.account-box{
  padding: 30px 0 15px;		
}
.account-box p{
color: #0a2d4b;
}
.title-viewed-products{
	color: #0a2d4b;
    font-size: 1.6rem;
    font-weight: 500;
	margin-top: 15px;
}
.cookie-alert{
   position: fixed;
    z-index: 9999999;
    bottom: 0;
    left: 0;
    width: 100%;
    right: 0;
    margin: 0 !important;
	padding: 1.25rem;
    border-radius: 0;
    text-align: center;
}
.alert-secondary {
	color: #fff;
    background-color: #031b30 !important;
    border: none;
    border-top: 1px solid #fff !important;
}
.alert button{
color: #fff;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    float: none;
    text-transform: uppercase;
    text-align: center;
    margin-left: 60px;
    font-weight: 600;
    font-size: 18px;
    display: block;
    margin: auto;
	padding-top: 1rem;
}
.inner {
	padding: .4em 0 0 0;
}

.progress-bar {
  background: #0051A8;
}

.progress-label {
  float: left;
  margin-right: 1em;
}

.filters .filters .fields,
.shipping-methods .shipping-method .shipping-fields,
.product-attributes .product-attribute-item .shipping-fields,
.payment-methods .payment-method .payment-fields {
    display: none;
}

.filter.card.card-product .card-footer,
.product-attribute-item.card.card-product .card-footer,
.shipping-method.card.card-product .card-footer,
.payment-method.card.card-product .card-footer {
  padding: 0;
  margin: 0;
  background: #fff;
}

.filters .filter.card,
.shipping-methods .shipping-method.card,
.product-attributes .product-attribute-item.card,
.payment-methods .payment-method.card {
	border-radius: .25rem;
}

.filters .filter.card .card-body,
.shipping-methods .shipping-method.card .card-body,
.product-attributes .product-attribute-item.card .card-body,
.payment-methods .payment-method.card .card-body {
  padding-top: 1em;
}

.filters .filter.card .card-footer,
.shipping-methods .shipping-method.card .card-footer,
.product-attributes .product-attribute-item.card .card-footer,
.payment-methods .payment-method.card .card-footer {
  border-top: 0px;
}

.fields,
.filter:hover .fields,
.shipping-method.selected .shipping-fields,
.shipping-method:hover .shipping-fields,
.product-attribute-item.selected .shipping-fields,
.product-attribute-item.active .shipping-fields,
.product-attribute-item:hover .shipping-fields,
.payment-method.selected .payment-fields,
.payment-method:hover .payment-fields {
  display: block;
  width: calc(100% + 2px);
  position: absolute;
  overflow: hidden;
  padding: 0 .5em;
  z-index: 100;
  margin-left: -1px;
  background: #fff;
  border-left: 1px solid rgba(0,0,0,.125);
  border-right: 1px solid rgba(0,0,0,.125);
  border-top: 0px solid rgba(0,0,0,.125);
  border-bottom: 1px solid rgba(0,0,0,.125);
  webkit-box-shadow: 0 14px 15px rgba(153,153,153,.3);
  box-shadow: 0 14px 15px rgba(153,153,153,.3);
  -webkit-transition: .5s;
  transition: .5s;
}


.shipping-method.selected,
.product-attribute-item.selected,
.product-attribute-item.active,
.payment-method.selected {
  webkit-box-shadow: 0 14px 15px rgba(153,153,153,.3);
  box-shadow: 0 14px 15px rgba(153,153,153,.3);
  -webkit-transition: .5s;
  transition: .5s;
  background: #f8f9fa;
}

.shipping-method.selected .shipping-fields,
.payment-method.selected .payment-fields {
  background: #f8f9fa;
}


.shipping-method:hover,
.product-attribute-item:hover,
.payment-method:hover {
  border-top: 1px solid #dd2c00;
  border-left: 1px solid #dd2c00;
  border-right: 1px solid #dd2c00;
  border-bottom: 1px solid #dd2c00;
  border-radius: 0px;
  -webkit-transition: .2s;
  transition: .2s;
}

.fields,
.shipping-method:hover .shipping-fields,
.product-attribute-item:hover .shipping-fields,
.payment-method:hover .payment-fields {
  border-top: 0px solid #dd2c00;
  border-left: 1px solid #dd2c00;
  border-right: 1px solid #dd2c00;
  border-bottom: 1px solid #dd2c00;
  border-radius: 0px;
  -webkit-transition: .5s;
  transition: .5s;
}

.product-attribute-item.active {
  border-top: 1px solid #dd2c00;
  border-left: 1px solid #dd2c00;
  border-right: 1px solid #dd2c00;
  border-bottom: 1px solid #dd2c00;
  border-radius: 0px;
}

.fields,
.shipping-method.selected .shipping-fields,
.product-attribute-item.selected .shipping-fields,
.product-attribute-item.active .shipping-fields,
.payment-method.selected .payment-fields {
  border-top: 0px;
  border-left: 1px solid #dd2c00;
  border-right: 1px solid #dd2c00;
  border-bottom: 1px solid #dd2c00;
  border-radius: 0px;
}

#searchPreview table {
  border: 1px solid #e5e5e5;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,.1);
  background: #fff; 
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}

#footer [class^="fa fa-"],
#footer [class*=" icon-"] {
  color: #fff
}
#footer .widget-title {
  font-weight: bold;
  margin-top: 0;
  color: #ffffff;
}
#footer .widget-title .text-info {
  color: #fff;
}
#footer .widget-title.do {
  cursor: pointer;
  position: relative;
}
#footer .widget-title.do:after {
  font-family: "Font Awesome 5 Free";
  color: #fff;
  content: "\f0c9";
  position: absolute;
  right: 0px;
  top: 0px;
}
#footer .widget-title.do:hover:after {
  color: #fff;
}
#footer .widget-title.do:hover .text-info {
  color: #fff;
}
#footer .widget-inner {

}

.pulse-button {
  box-shadow: 0 0 0 0 rgba(232, 76, 61, 0.7);
  cursor: pointer;
  -webkit-animation: pulse 4.1s infinite cubic-bezier(0.66, 0, 0, 1);
  -moz-animation: pulse 4.1s infinite cubic-bezier(0.66, 0, 0, 1);
  -ms-animation: pulse 4.1s infinite cubic-bezier(0.66, 0, 0, 1);
  animation: pulse 4.1s infinite cubic-bezier(0.66, 0, 0, 1);
  animation-delay: 0s;
}
.pulse-button:hover 
{
  -webkit-animation: none;-moz-animation: none;-ms-animation: none;animation: none;
}

@-webkit-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-moz-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@-ms-keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}
@keyframes pulse {to {box-shadow: 0 0 0 45px rgba(232, 76, 61, 0);}}

.chip {
    display: inline-block;
    height: 32px;
    padding: 0 12px;
    margin-right: 1rem;
    margin-bottom: 1rem;
    font-weight: 500;
    line-height: 32px;
    cursor: pointer;
    border-radius: 16px;
    -webkit-transition: all 0.3s linear;
    transition: all 0.3s linear;
}

.chip.chip-md {
    height: 42px;
    line-height: 42px;
    border-radius: 21px;
}

.chip.chip-lg {
    height: 52px;
    line-height: 52px;
    border-radius: 26px;
}

.chip.chip-md img {
    height: 42px;
    width: 42px;
}

.chip.chip-lg img {
    height: 52px;
    width: 52px;
}

.chip img {
    float: left;
    width: 32px;
    height: 32px;
    margin: 0 8px 0 -12px;
    border-radius: 50%;
}

.waves-effect {
    position: relative;
    overflow: hidden;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.orange {
  cursor: pointer;
  background: transparent;
  color: #999;
}

.orange:hover {
  cursor: pointer;
  background: transparent;
  color: #999;
}
#likes{
  color: #999;	
  vertical-align: middle;
  font-size: 1.2rem;
}
.border-primary {
    border-color: transparent!important;
}
.bg-orange {
  background: #dd2c00;
}

.mainpage-tabs .tab-pane,
.mainpage-tabs .tab-content {
  margin: 0;
  padding: 0;
  border: 0;
  background: transparent;
  -webkit-box-shadow: 0 0px 0px 0 transparent;
  box-shadow: 0 0px 0px 0 transparent;
}
.mainpage-tabs .tab-pane{
	padding-bottom: 60px;
}
.text-total{
	color: #999;
}
.nav-tabs {
	border-bottom: 0;
    text-align: center;
    display: block;
    padding-top: 3rem;
}

.mainpage-tabs .carousel-indicators {
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 15;
    padding-left: 0;
    margin-right: 0;
    margin-left: 0;
    list-style: none;
}

.mainpage-tabs .carousel-indicators li {
  width: auto;
  height: auto;
  margin-right: 0;
  margin-left: 0;
  text-indent: initial;
  cursor: pointer;
  background-color: transparent;
  background-clip: padding-box;
  border-top: 0;
  border-bottom: 0;
  opacity: 1;
}

.mainpage-tabs .carousel-indicators h3 {
    display: inline;
    width: auto;
}


.wsmobileheader .wscart {
    background-color: transparent;
    z-index: 1000;
    position: absolute;
    top: 0;
    right: 44px;
    padding: 25px 22px 0;
    cursor: pointer;
}

.wsmobileheader .wscart i {
    font-size: 18px;
    color: #9196a0;
}

.wscart .wsmegamenu.halfdiv,
.wscart .hidetxt {
  display: none;
}

.wscart em.roundpoint {
  position: absolute;
  top: 20px;
  /*right: 21px;*/
  left: 12px;
  right: auto;
  width: 17px;
  height: 17px;
  background-color: #DA4B38;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  font-size: 9px;
  text-align: center;
  font-style: normal;
  line-height: 16px;
  color: #fff;
}

.duplicate-order .active, .accordion:hover {
  background-color: #ccc;
}

.duplicate-order .panel {
  padding: 0px 18px 20px;
  background-color: white;
}

.duplicate-order .accordion .buttons:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
    font-size: 13px;
  color: #777;
  margin-left: 5px;
}

.duplicate-order .accordion.collapsed .buttons:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  margin-left: 5px;
}

@media(max-width: 991px) {
	.duplicate-order .product-image {
		max-height: 150px;
		width: auto !important;
	}
}

.text-primary {
  color: #0654a7 !important;
}

#checkout .form-check-input {
    position: relative;
    margin-top: 0;
    margin-left: 0;
}

#create_account_form span.Requirement, 
#checkout span.Requirement {
  display: none;
}


#checkout .form-check {
  padding-left: 0;
}

.sticky-wrapper {
	position: static;
}

@media(min-width: 1200px) {
	.sticky-wrapper {
		position: relative;
		/*min-height: 200vh;*/
	}

	.sticky-top {
		position: sticky;
		top: 80px;
	}
}

.checkout-cart-scroll {
  max-height: 270px;
  overflow-y: auto;
  overflow-x: hidden;
}

#footer {
  z-index: 99999;
}

.card-header {
  padding: .45em 0;
}
.card-header .title {
    color: #0a2d4b;
    font-weight: 500;
}
.card-header {
    background-color: transparent; 
    border-bottom: none; 
}
.login-form {
  max-width: 330px;
  margin: 0 auto;
}

.social-login span {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.social-login span:before,
.social-login span:after {
    content: '';
    border-top: 2px solid #a6a6a6;
    margin: 0 20px 0 0;
    flex: 1 0 20px;
}

.social-login span:after {
    margin: 0 0 0 20px;
}

.wsmain .input-group>.form-control, .input-group>.form-control-plaintext, .input-group>.custom-select, .input-group>.custom-file,
.CartContentLeft .input-group>.form-control, .input-group>.form-control-plaintext, .input-group>.custom-select, .input-group>.custom-file {
    position: relative;
    -ms-flex: 1 1 0%;
    flex: 1 1 0%;
    min-width: 90px;
    margin-bottom: 0;

}
.CartContentLeft .input-group>.form-control{
	min-width:50px!important;
	border: 1px solid #fff;
}
/*
.one-click{
    padding-top: 15px;
    margin-left: 159px;
}
.one-click a{
    padding: .350rem 2.3rem;
}
*/
.wsmain .input-group>.form-control{
	height: 34px;
	padding: .3em 1em;
	box-shadow: none;
}
.spec-name,
.spec-value {
  font-size: 80%;
}

.list-group-flush .list-group-item {
    border-right-width: 0;
    border-left-width: 0;
    border-radius: 0;
	border: none;
	color: #999;
	padding: 1rem 0;
	background-color: transparent;
}

.list-group-item.active {
    z-index: 2;
    border-color: none;
    border-radius: 0;
}
.list-group-item.disabled, .list-group-item:disabled {
    color: #0a2d4b;
    background-color: #fff;
}
.filter .card-body {
/*  max-height: 350px;
  overflow-y: auto;*/
}
.filter_count.badge-light{
	color: #999;
}

.form-control {
  border-radius: 1.5rem;
}

.select2-selection {
  border-radius: 1.5rem !important;
}

.tags-list .slick-slide {
  padding: 0 .75rem 0 0;
}

.product-attributes .btn-group-toggle .btn {
  padding: 0;
}

.product-attributes .product-attribute-item label {
  margin-bottom: 0;
}

.product-attributes .product-attribute-item.card .card-body:before {
  content: "\f055";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 18px;
  color: #dd2c00;
  position: absolute;
  top: 0;
  right: 5px;
  transform: scale(1);
  transition: all 0.3s ease-out;  
}

.product-attributes .product-attribute-item.active.card .card-body:before {
  content: "\f058";
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 18px;
  color: #006100;
  position: absolute;
  top: 0;
  right: 5px;
  transform: scale(1);
  transition: .5s;
}

.product-attributes .product-attribute-item.card .card-body {
  padding-top: 0;
}

.product-attributes .product-attribute-item.card .card-text {
  padding-top: .5em;
}

.product-attributes .product-attribute-item.card .card-header {
  background-color: rgba(0,0,0,.03);
  border-bottom: 1px solid rgba(0,0,0,.125);
}

.product-attributes .product-attribute-item.card .card-body {
  min-height: 0;
}

@media (max-width: 1700px) {
.owl-carousel .owl-nav button.owl-next, .owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next.disabled, .owl-carousel .owl-nav button.owl-prev.disabled {

    margin: -1em -15px 0 -15px;

}
}

@media (max-width: 991px) {
	
	.img-fluid {
    max-width: 65%;
}

	
	
	
	
	
}

































